

<div class="case-overview container margin-bottom-30">
  <div class="row">
    <div class="col-xs-12">
      <h4>{{ caseOverview.prosecutorId }}</h4>
    </div>
    <div id="header" class="col-xs-12">
      <h1>{{ caseOverview.defendant.forename }} <span>{{ caseOverview.defendant.familyName }}</span></h1>
    </div>
  </div>
  <div class="row">    
    <div class="details col-xs-12 col-md-12">
      <h2>Case Overview</h2>
      <div class="col-xs-12">
        <div class="row">
          <div class="title col-xs-4 col-md-3">
            Case Number
          </div>
          <div id="case-number" class="col-xs-8 col-md-9">
            {{ caseOverview.prosecutorId }}
          </div>          
          <div class="title col-xs-4 col-md-3">
            Prosecutor Name
          </div>
          <div class="col-xs-8 col-md-9">
            {{caseOverview.informantName}}
          </div>
          <div class="title col-xs-4 col-md-3">
            Notice Served Date
          </div>
          <div class="col-xs-8 col-md-9">
            {{ caseOverview.offence.offenceDate }}
          </div>
        </div>
        <div class="row">
          <h3>Defendant</h3>
          <div class="title col-xs-4 col-md-3">
            Name
          </div>
          <div id="defendant-name" class="col-xs-8 col-md-9">
            {{ caseOverview.defendant.forename }}&nbsp;{{ caseOverview.defendant.familyName }}
          </div>
          <div class="title col-xs-4 col-md-3">
            DOB
          </div>
          <div id="defendant-date-of-birth" class="col-xs-8 col-md-9">
            {{ caseOverview.defendant.dob }}
          </div>
          <div class="title col-xs-4 col-md-3">
            Phone
          </div>
          <div class="col-xs-8 col-md-9">
            Not Available
          </div>
          <div class="title col-xs-4 col-md-3">
            Email Address
          </div>
          <div class="col-xs-8 col-md-9">
            Not Available
          </div>
          <div class="title col-xs-4 col-md-3">
            Address
          </div>
          <div id="defendant-address" class="col-xs-8 col-md-9">
            {{ caseOverview.defendant.address }}, {{ caseOverview.defendant.town }}, {{ caseOverview.defendant.postcode }}
          </div>
          <div class="title col-xs-4 col-md-3">
            Financial Means
          </div>
          <div class="col-xs-8 col-md-9">
            Not yet provided
          </div>
        </div>
        <div class="row">
          <h3>Offence</h3>
          <div class="title col-xs-4 col-md-3">
            OffenceCode
          </div>
          <div id="offence-code" class="col-xs-8 col-md-9">
            {{ caseOverview.offence.libraOffenceCode }}
          </div>
          <div class="title col-xs-4 col-md-3">
            Offence Description
          </div>
          <div id="plea-mitigation" class="col-xs-8 col-md-9">
            {{caseOverview.offence.offenceDescription}}
          </div>
          <div class="title col-xs-4 col-md-3">
            Indicated Plea
          </div>
          <div id="plea" class="col-xs-8 col-md-9">
            {{ caseOverview.status }} 
            <!--<a href="atcm.html#/updatePlea/{{caseOvervew.id}}">Update</a>-->
            <a ng-click="updatePlea()">Update</a>
          </div>
          <div class="title col-xs-4 col-md-3">
            Plea Mitigation
          </div>
          <div id="plea-mitigation" class="col-xs-8 col-md-9">
            Not yet provided
          </div>
        </div>
        <div class="row documents">
          <h3>Documents</h3>
          <div data-ng-repeat="doc in caseOverview.documents">
            <a class="document" href="{{ doc.url }}" target="_blank">
              <i class="fa fa-file-text-o"></i>
              <span>{{ doc.filename }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
